:root {
  --color-judo-dark: #3d3d3d;
  --color-judo-font-heading: #191919;
  --color-judo-font-text: #17191d;
  --color-judo-orange: #e7501d;

  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --nav-width: calc(280 / var(--rem-base) * 1rem);

  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-font-color: var(--color-judo-font-text);
  --body-font-family: "SourceSansPro-Regular", sans-serif;

  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(15 / var(--rem-base) * 1rem);
}

.navbar-brand .navbar-item + .navbar-item {
  flex-grow: 1;
  justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    flex-grow: 1;
  }

  .navbar-menu {
    flex-grow: 0;
  }
}

#search-input {
  color: var(--color-judo-font-heading);
  font-family: var(--body-font-family);
  font-size: var(--doc-font-size);
  width: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height: 1.5;
  padding: 0 0.25em;
}

@media screen and (min-width: 769px) {
  #search-input {
    width: 100%;
    font-size: var(--doc-font-size-desktop);
  }
}

.search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  /* right: 0; */
  /* left: inherit; */
  top: 46px;
  border-radius: 4px;
  /* margin: 6px 0 0; */
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  max-width: calc(100% - var(--nav-width));
  min-width: 500px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  /* width: calc(100% - var(--nav-width)); */
}

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }

  .search-result-dropdown-menu {
    min-width: calc(100vw - 3.75rem);
    right: 0;
    left: inherit;
  }
}

.search-result-dataset {
  position: relative;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 0 8px 8px;
  max-height: calc(100vh - 5.25rem);
  color: var(--color-judo-font-heading);
}

.search-result-highlight {
  color: var(--color-judo-orange);
  background: rgba(231, 80, 29, 0.1);
  padding: .1em .05em;
}

.search-result-item {
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.search-result-document-title {
  width: 33%;
  border-right: 1px solid #ddd;
  color: #a4a7ae;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem 0.25rem 0;
  text-align: right;
  position: relative;
  word-wrap: break-word;
}

.search-result-document-hit {
  flex: 1;
  font-size: 0.75em;
  color: #02060c;
  font-weight: 700;
}

.search-result-document-hit > a {
  color: inherit;
  display: block;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 0.25rem;
}

.search-result-document-hit > a:hover {
  background-color: rgba(69, 142, 225, 0.05);
}

